$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$body-bg: #f0f0f0;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Bootstrap hacks */
.equal-height {
  display: table;

  [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.vcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-family: 'BebasNeueRegular', sans-serif;
  color: #fff;

}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}



// FRONT PAGE ***********
.contacts {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 250px;
}

contact-card {
  img {
    margin-bottom: 15px;
  }
  display: inline-block;
  .ccLarge {
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 1.5em;
    line-height: 85%;
  }
  .ccSmall:first {
    margin-top:15px;
  }
}
.baseBox {
  color: #fff;
  height: 250px;

}
.demoBox {
  @extend .baseBox;
  background: #5cb0ff;
}
.businessBox {
  @extend .baseBox;
  background: #4c92d3;
}
.boxPunchLine {
  h1 {
    color: #323232;
  }

}
.devlandBox {
  @extend .baseBox;
  background: #323232;


}
// END FRONT PAGE ***********

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
