$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$body-bg: #f0f0f0;
$grid-gutter-width: 0;
//** Global textual link color.
//$link-color: #dcdcdc
$link-color: #969696;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 90%);
$link-hover-decoration: none;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Bootstrap hacks */
.equal-height {
  display: table;

  [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.vcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.browsehappy {
  //margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-family: 'BebasNeueRegular', sans-serif;
  color: #fff;
}

footer {
  position: relative;
  margin: 40px 0 0 0;
  padding: 0 20px 0 0;
  background: #dedede;
  height: 100px;
  color: #969696;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: space-between;

  span {
    text-transform: uppercase;
    margin-left: 20px;
    display: block;
  }
}

.social {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  font-size: 1.1em;
  margin: 0 10px 0 0;
  transition: background-color 0.5s ease-out;
  background-color: #b0b0b0;
}

.facebook:hover {
  background-color: #3b5998;
}
.twitter:hover {
  background: #55acee;
}

#navSocials {
  height: 38px;
  position: absolute;
  display: flex;
  z-index: 3;
  top: -20px;
  right: 20px;
}

/* Custom page header */
.header {
  height: 121px;
  display: flex;
  align-items:center;
  > div {
    padding-left: 7px;
    > span {
      color: #646464;
      font-size: 0.9em;
      text-transform: uppercase;
      display: block;
      line-height: 90%;
      margin-top: 4px;
    }
  }
}


// FRONT PAGE ***********
.contacts {
  padding-top: 10px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  //height: 300px;
}

contact-card {
  height:270px;
  display: block;
  img {
    margin-bottom: 15px;
  }
  .ccLarge {
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 1.5em;
    line-height: 95%;
  }
  .ccLarge div:last-child {
    margin-top: 10px;
  }
  .ccSmall {
    line-height: 95%;
    margin-top: 10px;
    .contactPhone {
      margin-top: 10px;
    }
  }
}


.baseBox {
  padding: 0 20px 20px 20px;
  h1 {
    color: #fff;
  }
  //height: 170px;
  height: 100%;
}
.demoBox {
  @extend .baseBox;
}

$demoColor: #d96df5;

.demoBoxBg {
  background-color: $demoColor;
  cursor: pointer;
  color: #fff;
  &:hover {
    background-color: lighten($demoColor, 5%);
  }
}

.businessBox {
  @extend .baseBox;
  color: #fff;
}

$businessColor: #c82df0;

.businessBoxBg {
  cursor: pointer;
  background-color: $businessColor;
  &:hover {
    background-color: lighten($businessColor, 5%);
  }
}
.boxPunchLine {
  @extend .baseBox;
  h1 {
    color: #323232;
  }
  // height: 80px;
}
.boxPunchLineText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  // height: 180px;
}
.devlandBox {
  @extend .baseBox;
  height: 90px;
}
.devlandBoxText {
  @extend .baseBox;
  height: 100px;
  color: #fff;
}
.devlandBoxBg {
  $devlandColor: #333333;
  cursor: pointer;
  background-color: $devlandColor;
  &:hover {
    background-color: lighten($devlandColor, 5%);
  }
}
.teamBox {
  @extend .baseBox;
  h1 {
    color: #323232;
  }
}

.addresses {
  @extend .baseBox;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.addressBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  div:first-child {
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
  }
}
// END FRONT PAGE ***********

// Business********
.bizboxPunchLine {
  @extend .baseBox;
  height: 200px;
  h1 {
    color: #323232;
  }
  span {
    font-size: 1.2em;
  }
}

.bizUserAqBox {
  @extend .baseBox;
  height:100%;
  color: #fff;
}
.bizUserAqBoxBg {
  background-color: $businessColor;
}
.bizPersBox {
  @extend .baseBox;
  color: #fff;
}
.bizPersBoxBg {
  background-color: $demoColor;
}
.bizContentBox {
  @extend .baseBox;
  color: #fff;

}
.bizContentBoxBg {
  background-color: #333333;
}
.bizEvilBox {
  @extend .baseBox;
  color: #fff;
}
.bizEvilBoxBg {
  background-color: #d2c8b9;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  h1 {
    font-size: 4.3em;
  }
  footer {
    margin: 70px 0 0 0;
    span {
      display: inline;
    }
  }
  .contacts {
    justify-content:flex-start;
    padding-top: 80px;
  }
  contact-card {
    .ccSmall {
      margin-top: 10px;
      .contactPhone {
        margin-top: 10px;
      }
    }
  }
  .baseBox {
    height: 300px;
    h1 {
      padding-top: 70px;
      line-height: 93%;
    }
  }
  .boxPunchLineText {
    height: 300px;
  }
  .devlandBox {
    height: 200px;
  }
  .devlandBoxText {
    height: 200px;
    padding-top: 125px;
  }

  .addressBox {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div:first-child {
      padding: 10px 10px 10px 10px;
      margin: 10px 0 10px 0;
    }
  }
  .bizboxPunchLine {
    height: 250px;
    h1 {
      padding-top: 50px;
    }
    span {
      font-size: 1.34em;
    }
  }
  .bizEvilBox, .bizContentBox {
    min-height: 320px;
  }
  .social {
    margin: 0 0 0 10px;
  }
}
