<div class="row no-gutters">
  <div class="col-xs-12">
    <div class="bizboxPunchLine" >
      <h1>New era account management</h1>
      <span>Glome is an unique platform for user acquisition,
          personalisation and content monetisation across multiple devices.</span>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-xs-12">
    <div class="videoWrapper">
      <iframe src="https://player.vimeo.com/video/91443707" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/91443707">Glome - a responsible evolution of online business and common sense</a> from <a href="https://vimeo.com/glomeinc">Glome</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-sm-6 col-xs-12 bizUserAqBoxBg" >
    <div class="bizUserAqBox"  >
      <h1>User<br>aquisition</h1>
      <p>Turn every touchpoint into a start of a customer journey. No sign up, no registration, no friction means more customer engagement. Focus on great service and earn the trust for a deeper relationship.</p>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12 bizPersBoxBg" >
    <div class="bizPersBox">
      <h1>Customer<br>service</h1>
      <p>Personalisation does not require identity. Glome enables you to serve your customer in all channels and devices with an unified experience - you focus on making them happy. </p>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-sm-6 col-xs-12 bizContentBoxBg" >
    <div class="bizContentBox"  >
      <h1>Content<br>monetisation</h1>
      <p>Glome gives your customers a way to pay with money and/or data. Compatible with all existing payment platforms, throughout all devices and operating systems.</p>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12 bizEvilBoxBg" >
    <div class="bizEvilBox">
      <h1>Can not<br>do evil</h1>
      <p>Glome is a solution to address strict privacy and transparency requirements. No lost passwords, no fear of identity theft. Towards businesses Glome is the perfect partner as we can not steal or sell your customers - we do not know who they are. </p>
    </div>
  </div>
</div>

