<div class="row no-gutters">
  <div class="col-sm-6 col-xs-12">
    <div class="boxPunchLine" >
      <h1>Removing<br> the login</h1>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="boxPunchLineText" >
      <p>Personalisation does not require identity - it only needs the context of you. Glome give you a safe and personal digital experience across all your devices.</p>
      <p>
      It’s your right to be served and your right to be forgotten. This is Glome.</p>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <a ng-href="{{getUrl('demo')}}">
    <div class="col-sm-6 col-xs-12 demoBoxBg" >
      <div class="demoBox"  >
        <h1>Experience<br>Glome</h1>
        <p>Start looking at a video on one device, continue where you left off on another. No sign-up, no sign-in nothing to install. </p>
      </div>
    </div>
  </a>
  <a ng-href="{{getUrl('businesses')}}">
    <div class="col-sm-6 col-xs-12 businessBoxBg" >
      <div class="businessBox">
        <h1>For<br>businesses</h1>
        <p>Glome is an unique platform for user acquisition, personalisation and content monetisation across multiple devices. </p>
      </div>
    </div>
  </a>
</div>
<a ng-href="{{getUrl('devland')}}">
  <div class="row no-gutters devlandBoxBg">
    <div class="col-sm-6 col-xs-12 ">
      <div class="devlandBox" >
        <h1>For<br>developers</h1>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="devlandBoxText" >
        <p>
        Glome RESTful API offers unique tools for developers to create personalised experiences for users across multiple devices without the burden of identity.
        </p>
      </div>
    </div>
  </div>
</a>
<div class="row no-gutters">
  <div class="col-sm-3 col-xs-12" >
    <div class="teamBox" >
      <h1>The<br>team</h1>
    </div>
  </div>
  <div class="col-sm-9 col-xs-12">
    <div class="contacts" >
      <contact-card contact="contact" ng-repeat="contact in contacts"></contact-card>
    </div>
  </div>
</div>