<div class="row row-no-padding equal-height">
  <div class="col-md-6 boxPunchLine">
    <h1>The right to be forgotten.</h1>
  </div>
  <div class="col-md-6">
    <p>Less online hassle and more security. No login, no registration, no questions - no identity required. In a unified experience across multiple devices. With total control, you choose the data you want to share. Clear your history and cancel your account with a click, anytime.</p>
    <p>It’s your right to be forgotten. This is Glome.
    </p>
  </div>
</div>
<div class="row row-no-padding equal-height">
  <div class="col-md-6 demoBox">
    <h1>Explore The Demo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  </div>
  <div class="col-md-6 businessBox">
    <h1>For businesses</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  </div>
</div>
<div class="row row-no-padding">
  <div class="col-xs-12 devlandBox">
    <h1>To Devland</h1>
  </div>
</div>
<div class="row row-no-padding">
  <div class="col-md-6">
    <div class="contacts">
      <contact-card contact="edi" ></contact-card>
      <contact-card contact="fere"></contact-card>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <span class="glyphicon glyphicon-envelope"> </span>
      <span>
        contact (a) glome.me
      </span>
    </div>
    <div>
      <span class="glyphicon glyphicon-pushpin"> </span>
      <span>
      C/O Nemein Oy<br>
      Vilhonvuorenkatu 11 D 8, 00500<br>
      Helsinki, Finland<br>
      </span>
    </div>
  </div>
</div>